MYSQL_USER=your_mysql_user
MYSQL_ROOT_PASSWORD=your_mysql_root_password
MYSQL_DATABASE=your_mysql_database
MYSQL_LOCAL_PORT=your_local_mysql_port
MYSQL_DOCKER_PORT=your_docker_mysql_port
SPRING_LOCAL_PORT=your_local_spring_port
SPRING_DOCKER_PORT=your_docker_spring_port
DEBUG_PORT=your_debug_port
